<template>
  <EncabezadoPrincipal
    img="/img/logo.png"
    img1="/img/user.svg"
    v-bind:links="[
      {
        link: '/',
        text: 'Home',
      },
    ]"
  />

  <InfoEmpresa
    title="NOMBRE EMPRESA"
    subTitle="NIT. -"
    img1="/img/smile4.svg"
    img2="/img/smile.svg"
    img3="/img/smile-1.svg"
    linkText1="Comercial"
    linkText2="Servicio al cliente"
    linkText3="Administrativo"
    tablaTitle1="Recaudo"
    v-bind:links="[
      {
        text: 'Home',
      },
    ]"
  />

  <HelloWorld
    :defaultActive="1"
    :titles="[`Información general`, `Historial`, `Reportes`]"
    :contents="contentComponentTabs"
  />

  <InformacionGeneral
    title1="AA"
    select1="Si"
    select2="No"
    title3="Alto"
    title4="AA"
    title5="Suspendido por cartera"
    title6="85%"
    subTitle1="Calificación CIFIN"
    subTitle2="Transportadora Envia"
    subTitle3="Complejidad"
    subTitle4="Tipo de cliente"
    subTitle5="Transportadora Envia"
    subTitle6="Nivel de satisfacción"
    button="Ver detalle"
    :tablaTitles="[
      ``,
      `Recaudo`,
      `Transportadora naciona`,
      `Transportadora internacional`,
      `Ultima milla`,
      `Link de pago`,
    ]"
    :tablaItems="[
      {
        title: 'Promedio de guías',
        Recaudo: 100,
        'Transportadora nacional': 100,
        'Transportadora internacional': 100,
        'Ultima milla': 100,
        'Link de pago': 100,
      },
      {
        title: 'Fecha primer servicio',
        Recaudo: '03/03/2020',
        'Transportadora nacional': '03/03/2020',
        'Transportadora internacional': '03/03/2020',
        'Ultima milla': '03/03/2020',
        'Link de pago': '03/03/2020',
      },
      {
        title: 'Fecha último servicio',
        Recaudo: '03/03/2020',
        'Transportadora nacional': '03/03/2020',
        'Transportadora internacional': '03/03/2020',
        'Ultima milla': '03/03/2020',
        'Link de pago': '03/03/2020',
      },
    ]"
  />
  <PlanesDeServicios
    title1="Plan básico"
    money="$30.000"
    text="Por mes"
    text1="Próximo pago"
    date="03/03/2020"
    title2="Crédito"
    title3="Próximo pago cartera vencida"
    date1="03/03/2020"
  />

  <InformacionGeneralCliente
    img="/img/sort-down.svg"
    title="Información general del cliente"
  />
  <InformacionLogistica
    img="/img/sort-down.svg"
    title="Información logística"
    title1="Recogidas diarias"
    label1="Tipo de mercancía *"
    label2="Carta de exoneración *"
    text1="Subir archivo"
    text2="Ningún archivo"
    label3="¿Activar logo en rótulos? *"
    label4="¿Activar prefijo en AVE? *"
    label5="¿Activar logo en rótulos? *"
    label6="Transportadora *"
    label7="Fecha solicitud *"
    label8="¿Activar logo en rótulos? *"
    label9="Estado *"
    label10="Fecha de aprobacion *"
    select1="Free"
    select2="Si"
    select3="No"
    img2="/img/plus.svg"
  />

  <DatosFacturacion
    img="/img/sort-down.svg"
    title="Datos de facturación"
    label1="Correo para envío de factura *"
    label2="Responsabilidad tributaria *"
    select1="Free"
    select2="Si"
    select3="No"
    text1="Fecha próximo pago"
    text2="  12/03/2022"
    label3="Periodo de facturación *"
    label4="Ciudad del cliente *"
    label5="Tipo de regimen *"
    label6="Plazo de pago *"
    label7=" Dirección *"
    label8="Nombres representante legal *"
    label9="Fecha limite de pago *"
    label10="¿Consignar disponible billetera al finalizar el mes?"
    label11="Suspender este cliente con facturas vencidas"
    label12="¿Envío de courier sin confirmación de pago?"
    label13="Promoción fee *"
    label14="Número de meses en promoción *"
    label15="Cancelar cuenta *"
    label16="Motivo de cancelación *"
    label17="Motivo *"
  />

  <NegociacionAveonline
    img="/img/sort-down.svg"
    title="Negociación"
    title1="Descuento mensajería"
    title2="Descuento paquetería "
    text1="Aplicar a todos"
    text2="Urbano"
    text3="Regional"
    text4="Nacional"
    text5="Zonal"
    img1="/img/tcc.svg"
    img2="/img/envia.svg"
    img3="/img/servientrega.svg"
    img4="/img/saferbo.svg"
    imgtext1="TCC"
    imgtext2="Envia"
    imgtext3="Servientrega"
    imgtext4="Saferbo"
  />

  <InformacionBancaria
    img="/img/sort-down.svg"
    title="Información bancaria"
    title1="Cuentas inscritas"
  />

  <AsesoresAveonline
    img="/img/sort-down.svg"
    title="Asesores"
    label1="Asesor comercial *"
    label2="Asesor logístico *"
    label3="Fecha presentación asesor logístico *"
    label4="Inicio de operaciones *"
    labelText1="Free"
    labelText2="Starter"
    labelText3="Professional"
    text="Fecha última promoción 12/04/2022"
    textLink="Ver historial"
  />
</template>

<script>
import EncabezadoPrincipal from "@/components/EncabezadoPrincipal.vue";
import HelloWorld from "@/components/HelloWorld.vue";
import InfoEmpresa from "@/components/InfoEmpresa.vue";
import InformacionGeneral from "@/components/InformacionGeneral.vue";
import PlanesDeServicios from "@/components/PlanesDeServicios.vue";
import InformacionGeneralCliente from "@/components/InformacionGeneralCliente.vue";
import InformacionLogistica from "@/components/InformacionLogistica.vue";
import DatosFacturacion from "@/components/DatosFacturacion.vue";
import NegociacionAveonline from "@/components/NegociacionAveonline.vue";
import InformacionBancaria from "@/components/InformacionBancaria.vue";
import AsesoresAveonline from "@/components/AsesoresAveonline.vue";

const contentsData = [
  {
    title1: "AA",
    select1: "Si",
    select2: "No",
    title3: "Alto",
    title4: "AA",
    title5: "Suspendido por cartera",
    title6: "85%",
    subTitle1: "Calificación CIFIN",
    subTitle2: "Transportadora Envia",
    subTitle3: "Complejidad",
    subTitle4: "Tipo de cliente",
    subTitle5: "Transportadora Envia",
    subTitle6: "Nivel de satisfacción",

    button: "Ver detalle",
    tablaTitles: [
      ``,
      `Recaudo`,
      `Transportadora naciona`,
      `Transportadora internacional`,
      `Ultima milla`,
      `Link de pago`,
    ],
    tablaItems: [
      {
        title: "Promedio de guías",
        Recaudo: 100,
        "Transportadora nacional": 100,
        "Transportadora internacional": 100,
        "Ultima milla": 100,
        "Link de pago": 100,
      },
      {
        title: "Fecha primer servicio",
        Recaudo: "03/03/2020",
        "Transportadora nacional": "03/03/2020",
        "Transportadora internacional": "03/03/2020",
        "Ultima milla": "03/03/2020",
        "Link de pago": "03/03/2020",
      },
      {
        title: "Fecha último servicio",
        Recaudo: "03/03/2020",
        "Transportadora nacional": "03/03/2020",
        "Transportadora internacional": "03/03/2020",
        "Ultima milla": "03/03/2020",
        "Link de pago": "03/03/2020",
      },
    ],
  },
];

export default {
  name: "App",
  components: {
    EncabezadoPrincipal,
    HelloWorld,
    InfoEmpresa,
    InformacionGeneral,
    PlanesDeServicios,
    InformacionGeneralCliente,
    InformacionLogistica,
    DatosFacturacion,
    NegociacionAveonline,
    InformacionBancaria,
    AsesoresAveonline,
  },
  data() {
    return {
      contentComponentTabs: [
        <>
          <InformacionGeneral {...contentsData} />
        </>,
        <h1>asdasd</h1>,
        <h1>asdasd</h1>,
      ],
    };
  },
};
</script>

