<template>
  <div
    class="m-v-20 width-3 container width-p-100 height-2 color-gray-4 d-block"
  >

  <img :src="img" alt="">
  </div>
</template>

<script>
import { compile } from "vue";

export default {
  name: "BarraLineal",
  props: {
    img:String
  },
  data() {
    return {
      active: 0,
      content: 1,
      compile,
    };
  },
  mounted() {
    this.active = this.defaultActive;
  },
  methods: {
    clickItem: function (index) {
      this.active = index;
    },
  },
};
</script>





  
  





