<template>
  <div class="m-t-40 container">
    <table class="border-white-3 width-p-100" style="min-width: 1000px">
      <thead
        :id="`headerTable-${id}`"
        :class="`width-p-100 border-0 headerTable ${showBody ? `active` : ``}`"
      >
        <tr class="">
          <th colspan="3">
            <div
              class="
                flex-align-center flex flex-justify-start
                height-65
                p-h-10 p-v-10
                border-gray-3
                border-style-solid
                border-0
                border-l-1
                border-t-1
                border-t-l-radius-15
                font-roboto font-w-700 font-18
                color-gray-1
              "
            >
              {{ title }}
            </div>
          </th>
          <th>
            <div
              class="
                flex flex-justify-right flex-align-center
                height-65
                p-h-10 p-v-10
                border-style-solid
                border-0
                border-gray-3
                border-r-1
                border-t-1
                border-t-r-radius-15
              "
            >
              <button
                class="bg-transparent border-0"
                v-on:click.stop.prevent="toggleBodyHeader()"
              >
                <img class="" :src="img" alt="" />
              </button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody
        :id="`bodyTable-${id}`"
        :class="`border-0 bodyTable ${showBody ? `active` : ``}`"
      >
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-start flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-0
              "
            >
              <div class="m-b-16">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >{{label1}}</label
                >
                <input
                  class="
                    width-448
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  type="text"
                />
              </div>
            </div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-left flex-align-start
              "
            >
              <div class="m-b-16">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >{{label2}}</label
                >
                <select
                  class="
                    width-448
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option
                    class="font-roboto font-14 font-w-400 color-gray-3"
                    value="none"
                    selected
                    disabled
                    hidden
                  ></option>
                  <option class="color-gray-3" value="free">{{select1}}</option>
                  <option class="color-gray-3" value="starter">{{select1}}</option>
                  <option class="color-gray-3" value="professional">
                    {{select1}}
                  </option>
                </select>
              </div>
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
              "
            >
              <div class="m-b-16">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >{{label3}}</label
                >
                <select
                  class="
                    width-448
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option
                    class="font-roboto font-14 font-w-400 color-gray-3"
                    value="none"
                    selected
                    disabled
                    hidden
                  ></option>
                  <option class="color-gray-3" value="free">{{select1}}</option>
                  <option class="color-gray-3" value="starter">{{select1}}</option>
                  <option class="color-gray-3" value="professional">
                    {{select1}}
                  </option>
                </select>
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-start flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-0
              "
            >
              <div class="m-b-16">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >{{label4}}</label
                >
                <select
                  class="
                    width-448
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option
                    class="font-roboto font-14 font-w-400 color-gray-3"
                    value="none"
                    selected
                    disabled
                    hidden
                  ></option>
                  <option class="color-gray-3" value="free">{{select1}}</option>
                  <option class="color-gray-3" value="starter">{{select1}}</option>
                  <option class="color-gray-3" value="professional">
                    {{select1}}
                  </option>
                </select>
              </div>
            </div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-left flex-align-start
              "
            >
              <div class="m-b-16">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >{{label5}}</label
                >
                <select
                  class="
                    width-448
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option
                    class="font-roboto font-14 font-w-400 color-gray-3"
                    value="none"
                    selected
                    disabled
                    hidden
                  ></option>
                  <option class="color-gray-3" value="free">{{select1}}</option>
                  <option class="color-gray-3" value="starter">{{select1}}</option>
                  <option class="color-gray-3" value="professional">
                    {{select1}}
                  </option>
                </select>
              </div>
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
              "
            >
              <div class="m-b-16">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >{{label6}}</label
                >
                <select
                  class="
                    width-448
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option
                    class="font-roboto font-14 font-w-400 color-gray-3"
                    value="none"
                    selected
                    disabled
                    hidden
                  ></option>
                  <option class="color-gray-3" value="free">{{select1}}</option>
                  <option class="color-gray-3" value="starter">{{select1}}</option>
                  <option class="color-gray-3" value="professional">
                    {{select1}}
                  </option>
                </select>
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-start flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-0
              "
            >
              <div class="m-b-16">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                >
                 {{label7}}
                </label>
                <input
                  class="
                    width-448
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  type="text"
                />
              </div>
            </div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-left flex-align-start
              "
            >
              <div class="m-b-16">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >{{label8}}</label
                >
                <select
                  class="
                    width-448
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option
                    class="font-roboto font-14 font-w-400 color-gray-3"
                    value="none"
                    selected
                    disabled
                    hidden
                  ></option>
                  <option class="color-gray-3" value="free">{{select1}}</option>
                  <option class="color-gray-3" value="starter">{{select1}}</option>
                  <option class="color-gray-3" value="professional">
                    {{select1}}
                  </option>
                </select>
              </div>
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
              "
            >
              <div class="m-b-16">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >{{label9}}</label
                >
                <select
                  class="
                    width-448
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option
                    class="font-roboto font-14 font-w-400 color-gray-3"
                    value="none"
                    selected
                    disabled
                    hidden
                  ></option>
                  <option class="color-gray-3" value="free">{{select1}}</option>
                  <option class="color-gray-3" value="starter">{{select1}}</option>
                  <option class="color-gray-3" value="professional">
                    {{select1}}
                  </option>
                </select>
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-start flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-0
              "
            >
              <div class="flex">
                <div class="width-150">
                  <label
                    class="
                      font-14 font-roboto font-w-400
                      color-gray-1
                      width-140
                    "
                  >
                    {{label10}}
                  </label>
                </div>
                <select
                  class="
                    width-68
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option class="color-gray-3" value="free">{{select2}}</option>
                  <option class="color-gray-3" value="starter">{{select3}}</option>
                </select>
              </div>
              <div class="m-l-20">
                <h2 class="font-14 font-w-700 font-roboto color-gray-1">
                  {{text1}}
                </h2>
                <h2 class="font-w-400 font-14 font-roboto color-gray-1">
                {{text2}}
                </h2>
              </div>
            </div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-left flex-align-start
              "
            >
              <div class="flex">
                <div class="width-120">
                  <label
                    class="font-14 font-roboto font-w-400 color-gray-1 width-40"
                  >
                    {{label11}}
                  </label>
                </div>

                <select
                  class="
                    width-68
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option class="color-gray-3" value="free">{{select2}}</option>
                  <option class="color-gray-3" value="starter">{{select3}}</option>
                </select>
              </div>
              <div class="flex">
                <div class="width-120">
                  <label
                    class="font-14 font-roboto font-w-400 color-gray-1 width-40"
                  >
                    {{label12}}
                  </label>
                </div>
                <select
                  class="
                    width-68
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option class="color-gray-3" value="free">{{select2}}</option>
                  <option class="color-gray-3" value="starter">{{select3}}</option>
                </select>
              </div>
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
              "
            >
              <div class="m-b-16 flex">
                <div class="m-r-5">
                  <label
                    class="
                      m-b-8
                      text-left
                      font-14 font-roboto font-w-400
                      color-gray-1
                      m-r-8
                      d-block
                    "
                    >{{label13}}</label
                  >
                  <select
                    class="
                      width-132
                      height-40
                      p-h-5 p-v-5
                      outline-none
                      border-radius-10 border-gray-3 border-1 border-style-solid
                      color-gray-1
                      bg-transparent
                    "
                    name="cars"
                    id="cars"
                  >
                    <option
                      class="font-roboto font-14 font-w-400 color-gray-3"
                      value="none"
                      selected
                      disabled
                      hidden
                    ></option>
                    <option class="color-gray-3" value="free">{{select1}}</option>
                    <option class="color-gray-3" value="starter">
                      {{select1}}
                    </option>
                  </select>
                </div>
                <div>
                  <label
                    class="
                      m-b-8
                      text-left
                      font-14 font-roboto font-w-400
                      color-gray-1
                      m-r-8
                      d-block
                    "
                    >{{label14}}</label
                  >
                  <select
                    class="
                      width-290
                      height-40
                      p-h-5 p-v-5
                      outline-none
                      border-radius-10 border-gray-3 border-1 border-style-solid
                      color-gray-1
                      bg-transparent
                    "
                    name="cars"
                    id="cars"
                  >
                    <option
                      class="font-roboto font-14 font-w-400 color-gray-3"
                      value="none"
                      selected
                      disabled
                      hidden
                    ></option>
                    <option class="color-gray-3" value="free">{{select1}}</option>
                    <option class="color-gray-3" value="starter">
                      {{select1}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-start flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-0
              "
            >
              <div class="m-b-16">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                ></label>
              </div>
            </div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-left flex-align-start
              "
            >
              <div class="m-b-16 flex">
                <div class="m-r-5">
                  <label
                    class="
                      m-b-8
                      text-left
                      font-14 font-roboto font-w-400
                      color-gray-1
                      m-r-8
                      d-block
                    "
                    >{{label15}}</label
                  >
                  <select
                    class="
                      width-132
                      height-40
                      p-h-5 p-v-5
                      outline-none
                      border-radius-10 border-gray-3 border-1 border-style-solid
                      color-gray-1
                      bg-transparent
                    "
                    name="cars"
                    id="cars"
                  >
                    <option
                      class="font-roboto font-14 font-w-400 color-gray-3"
                      value="none"
                      selected
                      disabled
                      hidden
                    ></option>
                    <option class="color-gray-3" value="free">{{select2}}</option>
                    <option class="color-gray-3" value="starter">{{select3}}</option>
                  </select>
                </div>
                <div>
                  <label
                    class="
                      m-b-8
                      text-left
                      font-14 font-roboto font-w-400
                      color-gray-1
                      m-r-8
                      d-block
                    "
                    >{{label16}}</label
                  >
                  <select
                    class="
                      width-290
                      height-40
                      p-h-5 p-v-5
                      outline-none
                      border-radius-10 border-gray-3 border-1 border-style-solid
                      color-gray-1
                      bg-transparent
                    "
                    name="cars"
                    id="cars"
                  >
                    <option
                      class="font-roboto font-14 font-w-400 color-gray-3"
                      value="none"
                      selected
                      disabled
                      hidden
                    ></option>
                    <option class="color-gray-3" value="free">{{select1}}</option>
                    <option class="color-gray-3" value="starter">
                      {{select1}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
              "
            >
              <div class="m-b-16">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >{{label17}}</label
                >
                <input
                  class="
                    width-448
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  type="text"
                />
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-center flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-1
                border-b-l-radius-15
              "
            ></div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-align-center
                border-0 border-b-1 border-style-solid border-gray-3
              "
            ></div>
          </td>

          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-1
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
                border-b-r-radius-15
              "
            ></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { v4 as uuidv4 } from "uuid";

export default {
  name: "DatosFacturacion",
  props: {
    title: String,
    img: String,
    select1:String,
    select2:String,
    select3:String,
    text1:String,
    text2:String,
    label1:String,
    label2:String,
    label3:String,
    label4:String,
    label5:String,
    label6:String,
    label7:String,
    label8:String,
    label9:String,
    label10:String,
    label11:String,
    label12:String,
    label13:String,
    label14:String,
    label15:String,
    label16:String,
    label17:String,

},
  data() {
    return {
      id: null,
      showBody: false,
    };
  },
  mounted() {
    this.id = uuidv4();
  },

  methods: {
    toggleBodyHeader: function () {
      this.showBody = !this.showBody;
    },
  },
};
</script>

 <style>
.headerTable:not(.active) th > div {
  border-bottom-width: 1px;
}

.headerTable:not(.active) th:first-child > div {
  border-bottom-left-radius: 0.9375rem;
}

.headerTable:not(.active) th:last-child > div {
  border-bottom-right-radius: 0.9375rem;
}

.bodyTable:not(.active) {
  display: none;
}
</style>










