<template>
  <div class="m-v-40 container flex">
    <div class="flex-5 flex flex-justify-between">
      <div class="">
        <div
          class="
            m-b-16
            height-64
            flex flex-align-center flex-justify-center
            p-v-16 p-h-20
            border-radius-10 border-style-solid border-1 border-gray-3
          "
        >
          <h2 class="font-poppins font-24 font-w-700 color-gray-4 m-r-20">
            {{ title1 }}
          </h2>
          <h2 class="font-14 font-w-700 font-roboto color-gray-1">
            {{ subTitle1 }}
          </h2>
        </div>
        <div
          class="
            m-b-16
            height-64
            flex flex-align-center
            p-v-16 p-h-20
            border-radius-10 border-style-solid border-1 border-gray-3
          "
        >
          <div class="m-r-16 height-40 flex flex-align-center">
            <select
              class="
                p-v-10
                border-1 border-gray-3 border-radius-10 border-style-solid
                bg-transparent
                outline-none
                pointer
              "
              name="cars"
              id="cars"
            >
              <option class="outline-none" value="Si">{{ select1 }}</option>
              <option class="outline-none" value="No">{{ select2 }}</option>
            </select>
          </div>
          <div>
            <h2 class="font-14 font-w-700 font-roboto color-gray-1">
              {{ subTitle2 }}
            </h2>
          </div>
        </div>
        <div
          class="
            m-b-16
            height-64
            flex flex-align-center flex-justify-center
            p-v-16 p-h-20
            border-radius-10 border-style-solid border-1 border-gray-3
          "
        >
          <h2 class="font-roboto font-16 font-w-700 color-gray-4 m-r-20">
            {{ title3 }}
          </h2>
          <h2 class="font-14 font-w-700 font-roboto color-gray-1">
            {{ subTitle3 }}
          </h2>
        </div>
      </div>
      <div class="">
        <div
          class="
            height-64
            m-b-16
            flex flex-align-center flex-justify-center
            p-v-16 p-h-20
            border-radius-10 border-style-solid border-1 border-gray-3
          "
        >
          <h2 class="font-poppins font-24 font-w-700 color-gray-4 m-r-20">
            {{ title4 }}
          </h2>
          <h2 class="font-14 font-w-700 font-roboto color-gray-1">
            {{ subTitle4 }}
          </h2>
        </div>
        <div
          class="
            m-b-16
            height-64
            flex flex-align-center
            p-v-16 p-h-15
            border-radius-10 border-style-solid border-1 border-gray-3
          "
        >
          <h2
            class="width-100 font-16 font-w-700 font-roboto color-gray-4 m-r-10"
          >
            {{ title5 }}
          </h2>
          <h2 class="width-100 font-14 font-w-700 font-roboto color-gray-1">
            {{ subTitle5 }}
          </h2>
        </div>
        <div
          class="
            m-b-16
            height-64
            flex flex-align-center flex-justify-center
            p-v-16 p-h-20
            border-radius-10 border-style-solid border-1 border-gray-3
          "
        >
          <h2 class="font-roboto font-18 font-w-700 color-green-3 m-r-20">
            {{ title6 }}
          </h2>
          <h2 class="font-14 font-w-700 font-roboto color-gray-1">
            {{ subTitle6 }}
          </h2>
        </div>
      </div>
    </div>
    <div class="flex-7">
      <div
        class="
          m-h-20
          overflow-auto
          border-1
          flex flex-justify-center
          border-style-solid border-gray-3 border-radius-10
        "
      >
        <table class="width-p-100 height-222">
          <thead
            :class="`width-p-100
              border-style-solid border-t-1 border-b-1 border-gray-2 border-0
              `"
          >
            <th v-for="(item, index) in tablaTitles" :key="index" class="p-8" >
              <div
                class="
                  flex-justify-center flex
                  color-gray-1
                  font-roboto font-w-700 font-14
                  text-center
                "
              >
                {{item}}
              </div>
            </th>
          </thead>
          <tbody
            :class="`border-0 `"
          >
            <tr v-for="(item, index) in tablaItems" :key="index">
              <td v-for="(value,key) in item " :key="key" class="p-8">
                <div
                  class="
                    flex-justify-center flex
                    color-gray-1
                    font-roboto font-w-700 font-14
                    text-center
                  "
                >
                  {{value}}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
              <div class="flex flex-align-center">
        <h2 class="font-12 font-roboto font-w-400 color-gray-4 m-r-5">
          {{button}}
        </h2>
        <div class="">
          <button
            class="bg-transparent border-0"
            v-on:click.stop.prevent="toggleBodyHeader()"
          >
            <img class="width-14" src="/img/chevron-down2.svg" alt="" />
          </button>
        </div>
      </div>
      </div>

    </div>
  </div>
</template>

<script>
import { v4 as uuidv4 } from "uuid";

export default {
  name: "InformacionGeneral",
  props: {
    title1: String,
    select1: String,
    select2: String,
    title3: String,
    title4: String,
    title5: String,
    title6: String,
    subTitle1: String,
    subTitle2: String,
    subTitle3: String,
    subTitle4: String,
    subTitle5: String,
    subTitle6: String,
    button:String,

    tablaTitles: Array,
    tablaItems: Array,
  },
  data() {
    return {
      id: null,
      showBody: false,
    };
  },
  mounted() {
    this.id = uuidv4();
  },

  methods: {
    toggleBodyHeader: function () {
      this.showBody = !this.showBody;
    },
  },
};
</script>




