<template>
  <div class="m-t-120 container flex ">
    <div class="flex-6 flex">
      <div
        class="
          border-radius-10
          p-h-58 p-v-20
          border-style-solid border-1 border-gray-3
          m-r-14
        "
      >
        <img alt="Vue logo" src="../img/file-image.svg" />
      </div>
      <div class="flex flex-align-end">
        <h2 class="m-r-8 font-roboto font-w-700 font-14 color-gray-1">
          {{title}}
        </h2>
        <h2 class="font-roboto font-w-700 font-14 color-gray-4">
          {{subTitle}}
        </h2>
      </div>
    </div>
    <div class="flex-6 flex flex-justify-right flex-align-end">
      <div
        class="
          flex 
          flex-align-center 
          flex-justify-center
          p-v-12 p-h-20
          m-r-16
          bg-red-1
          border-radius-10
          width-180
          pointer
          bg-gray-1-hover
        "
      >
        <div class="flex m-r-8">
          <img class="width-15 height-15" :src="img1" alt="" />
        </div>
        <h2 class="border-0 font-14 font-w-700 font-roboto color-white">
          {{linkText1}}
        </h2>
      </div>
      <div
        class="
          flex 
          flex-align-center
          flex-justify-center
          p-v-12 p-h-20
          m-r-16
          bg-white-line
          border-radius-10
          width-180
          pointer
          bg-gray-1-hover
        "
      >
        <div class="flex m-r-8">
          <img class="width-15 height-15" :src="img2" alt="" />
        </div>
        <h2 class="border-0 font-14 font-w-700 font-roboto color-white">
          {{linkText2}}
        </h2>
      </div>
      <div
        class="
          flex
          flex-align-center
          flex-justify-center
          p-v-12 p-h-20
          m-r-16
          bg-white-line
          border-radius-10
          width-180
          pointer
          bg-gray-1-hover
        "
      >
        <div class="flex m-r-8">
          <img class="height-15 width-15" :src="img3" alt="" />
        </div>

        <h2 class="border-0 font-14 font-w-700 font-roboto color-white">
         {{linkText3}} 
        </h2>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "InfoEmpresa",
  props: {
    img1: String,
    img2: String,
    img3: String,
    title:String,
    subTitle:String,
    linkText1:String,
    linkText2:String,
    linkText3:String,
  },
};
</script>




