<template>
  <div class="m-t-40 container">
    <table class="border-white-3 width-p-100" style="min-width: 1000px">
      <thead
        :id="`headerTable-${id}`"
        :class="`width-p-100 border-0 headerTable ${showBody ? `active` : ``}`"
      >
        <tr class="">
          <th colspan="3">
            <div
              class="
                flex-align-center flex flex-justify-start
                height-65
                p-h-10 p-v-10
                border-gray-3
                border-style-solid
                border-0
                border-l-1
                border-t-1
                border-t-l-radius-15
                font-roboto font-w-700 font-18
                color-gray-1
              "
            >
              {{title}}
            </div>
          </th>
          <th>
            <div
              class="
                flex flex-justify-right flex-align-center
                height-65
                p-h-10 p-v-10
                border-style-solid
                border-0
                border-gray-3
                border-r-1
                border-t-1
                border-t-r-radius-15
              "
            >
              <button
                class="bg-transparent border-0"
                v-on:click.stop.prevent="toggleBodyHeader()"
              >
                <img class="" :src="img" alt="" />
              </button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody
        :id="`bodyTable-${id}`"
        :class="`border-0 bodyTable ${showBody ? `active` : ``}`"
      >
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-start flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-0
              "
            >
              
              <div class="m-b-16 ">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >Campaña de mercadeo *</label
                >
                <select
                  class="
                    width-448
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option
                    class="font-roboto font-14 font-w-400 color-gray-3"
                    value="none"
                    selected
                    disabled
                    hidden
                  >
                    
                  </option>
                  <option class="color-gray-3" value="free">Free</option>
                  <option class="color-gray-3" value="starter">Starter</option>
                  <option class="color-gray-3" value="professional">
                    Professional
                  </option>
                  
                </select>
              </div>
            </div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-left flex-align-start
              "
            >
              <div class="m-b-16 ">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >Tipo de documento *</label
                >
                <select
                  class="
                    width-132
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option
                    class="font-roboto font-14 font-w-400 color-gray-3"
                    value="none"
                    selected
                    disabled
                    hidden
                  >
                    
                  </option>
                  <option class="color-gray-3" value="free">Free</option>
                  <option class="color-gray-3" value="starter">Starter</option>
                  <option class="color-gray-3" value="professional">
                    Professional
                  </option>
                  
                </select>
              </div>
               <div class="m-b-16 ">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >Documento *</label
                >
                <input class=" 
                    width-300
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent" type="text">
              </div>
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
              "
            >
            <div class="m-b-16 ">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >Correo electrónico *</label
                >
                <input
                  class="
                    width-290
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  type="text"
                >
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-start flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-0
              "
            >
              
              <div class="m-b-16 ">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >Campaña publicitaria *</label
                >
                <select
                  class="
                    width-448
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option
                    class="font-roboto font-14 font-w-400 color-gray-3"
                    value="none"
                    selected
                    disabled
                    hidden
                  >
                    
                  </option>
                  <option class="color-gray-3" value="free">Free</option>
                  <option class="color-gray-3" value="starter">Starter</option>
                  <option class="color-gray-3" value="professional">
                    Professional
                  </option>
                  
                </select>
              </div>
            </div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-left flex-align-start
              "
            >
              <div class="m-b-16 ">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >Razon social *</label
                >
                <select
                  class="
                    width-448
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option
                    class="font-roboto font-14 font-w-400 color-gray-3"
                    value="none"
                    selected
                    disabled
                    hidden
                  >
                    
                  </option>
                  <option class="color-gray-3" value="free">Free</option>
                  <option class="color-gray-3" value="starter">Starter</option>
                  <option class="color-gray-3" value="professional">
                    Professional
                  </option>
                  
                </select>
              </div>
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
              "
            >
             <div class="m-b-16 ">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >Celular *</label
                >
                <input
                  class="
                    width-290
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  type="text"
                >
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-start flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-0
              "
            >
              
              <div class="m-b-16 ">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >Canal *</label
                >
                <select
                  class="
                    width-448
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option
                    class="font-roboto font-14 font-w-400 color-gray-3"
                    value="none"
                    selected
                    disabled
                    hidden
                  >
                    
                  </option>
                  <option class="color-gray-3" value="free">Free</option>
                  <option class="color-gray-3" value="starter">Starter</option>
                  <option class="color-gray-3" value="professional">
                    Professional
                  </option>
                  
                </select>
              </div>
            </div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-left flex-align-start
              "
            >
              <div class="m-b-16 ">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >Nombres representante legal *</label
                >
                <select
                  class="
                    width-448
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option
                    class="font-roboto font-14 font-w-400 color-gray-3"
                    value="none"
                    selected
                    disabled
                    hidden
                  >
                    
                  </option>
                  <option class="color-gray-3" value="free">Free</option>
                  <option class="color-gray-3" value="starter">Starter</option>
                  <option class="color-gray-3" value="professional">
                    Professional
                  </option>
                  
                </select>
              </div>
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
              "
            >
              <div class="m-b-16 ">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >Teléfono</label
                >
                <input
                  class="
                    width-290
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  type="text"
                >
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-start flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-0
              "
            >
              
              <div class="m-b-16 ">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >Landing page</label
                >
                
              </div>
            </div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-left flex-align-start
              "
            >
             <div class="m-b-16 ">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >Apellidos representante legal *</label
                >
                <select
                  class="
                    width-448
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option
                    class="font-roboto font-14 font-w-400 color-gray-3"
                    value="none"
                    selected
                    disabled
                    hidden
                  >
                    
                  </option>
                  <option class="color-gray-3" value="free">Free</option>
                  <option class="color-gray-3" value="starter">Starter</option>
                  <option class="color-gray-3" value="professional">
                    Professional
                  </option>
                  
                </select>
              </div>
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
              "
            >
              <div class="m-b-16 ">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >Sitio Web</label
                >
                <input
                  class="
                    width-290
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  type="text"
                >
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-start flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-0
              "
            >
              
              <div class="m-b-16 ">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  ></label
                >
                
              </div>
            </div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-left flex-align-start
              "
            >
              <div class="m-b-16 ">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >Tipo de documento *</label
                >
                <select
                  class="
                    width-132
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option
                    class="font-roboto font-14 font-w-400 color-gray-3"
                    value="none"
                    selected
                    disabled
                    hidden
                  >
                    
                  </option>
                  <option class="color-gray-3" value="free">Free</option>
                  <option class="color-gray-3" value="starter">Starter</option>
                  <option class="color-gray-3" value="professional">
                    Professional
                  </option>
                  
                </select>
              </div>
               <div class="m-b-16 ">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >Documento representante *</label
                >
                <input class=" 
                    width-300
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent" type="text">
              </div>
            </div>
          </td>
          <td class="" colspan="2">
           <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-center flex-align-start
                border-r-1 border-0 border-style-solid border-gray-3
              "
            >
              <div class="m-b-16 flex">
                <div>
                  <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >Comercio electrónico</label
                >
                <select
                  class="
                    width-132
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option
                    class="font-roboto font-14 font-w-400 color-gray-3"
                    value="none"
                    selected
                    disabled
                    hidden
                  >
                    
                  </option>
                  <option class="color-gray-3" value="free">Free</option>
                  <option class="color-gray-3" value="starter">Starter</option>
                  
                </select>
                </div>
                <div>
                  <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >CMs o plataforma * </label
                >
                <select
                  class="
                    width-160
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option
                    class="font-roboto font-14 font-w-400 color-gray-3"
                    value="none"
                    selected
                    disabled
                    hidden
                  >
                    
                  </option>
                  <option class="color-gray-3" value="free">Free</option>
                  <option class="color-gray-3" value="starter">Starter</option>
                  
                </select>
                </div>
              </div>
            
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-center flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-1
                border-b-l-radius-15
              "
            ></div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-align-center
                border-0 border-b-1 border-style-solid border-gray-3
              "
            ></div>
          </td>

          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-1
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
                border-b-r-radius-15
              "
            ></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { v4 as uuidv4 } from "uuid";

export default {
  name: "PlanesDeServicios",
  props: {
    title:String,
    img:String,
    title1: String,
    money: String,
    text: String,
    text1: String,
    date: String,
    title2: String,
    title3: String,
    date1: String,
  },
  data() {
    return {
      id: null,
      showBody: false,
    };
  },
  mounted() {
    this.id = uuidv4();
  },

  methods: {
    toggleBodyHeader: function () {
      this.showBody = !this.showBody;
    },
  },
};
</script>

 <style>
.headerTable:not(.active) th > div {
  border-bottom-width: 1px;
}

.headerTable:not(.active) th:first-child > div {
  border-bottom-left-radius: 0.9375rem;
}

.headerTable:not(.active) th:last-child > div {
  border-bottom-right-radius: 0.9375rem;
}

.bodyTable:not(.active) {
  display: none;
}
</style>










