<template>
  <div class="container flex overflow-auto height-400 m-v-40">
    <div class="width-p-100">
      <label class="flex flex-nowrap width-p-100">
        <div class="p-h-20 pos-r flex flex-align-center">
          <input
            class="p-10"
            type="radio"
            name="empleoactual"
            value="1"
            hidden
          />
          <span class="radio-circle pos-r z-index-3"></span>
          <span class="pos-a width-15 height-p-100 top-0 left-0 right-0 m-auto bg-white-bg z-index-2"></span>
        </div>
        <div
          class="
            flex flex-align-center flex-justify-left
            m-v-20
            p-v-10 p-h-10
            border-radius-5 border-style-solid border-1 border-gray-3
            width-p-100 
            m-h-10
          "
        >
          <h2 class="font-18 font-w-700 font-roboto color-gray-1 m-r-5">
            {{ date }}
          </h2>
          <h2 class="font-18 font-w-400 font-roboto color-gray-1 m-r-5">
            {{ dateNumber }}
          </h2>
          <h2 class="font-18 font-w-700 font-roboto color-gray-1 m-r-5">
            {{ status }}
          </h2>
          <h2 class="font-18 font-w-400 font-roboto color-gray-1 m-r-5">
            {{ text }}
          </h2>
        </div>
      </label>
      <label class="flex flex-nowrap width-p-100">
        <div class="p-h-20 pos-r flex flex-align-center">
          <input
            class="p-10"
            type="radio"
            name="empleoactual"
            value="2"
            hidden
          />
          <span class="radio-circle pos-r z-index-3"></span>
          <span class="pos-a width-15 height-p-100 top-0 left-0 right-0 m-auto bg-white-bg z-index-2"></span>
        </div>
        <div
          class="
            flex flex-align-center flex-justify-left
            m-v-20
            p-v-10 p-h-10
            border-radius-5 border-style-solid border-1 border-gray-3
            width-p-100 
            m-h-10
          "
        >
          <h2 class="font-18 font-w-700 font-roboto color-gray-1 m-r-5">
            {{ date }}
          </h2>
          <h2 class="font-18 font-w-400 font-roboto color-gray-1 m-r-5">
            {{ dateNumber }}
          </h2>
          <h2 class="font-18 font-w-700 font-roboto color-gray-1 m-r-5">
            {{ status }}
          </h2>
          <h2 class="font-18 font-w-400 font-roboto color-gray-1 m-r-5">
            {{ text }}
          </h2>
        </div>
      </label>
        <label class="flex flex-nowrap width-p-100">
        <div class="p-h-20 pos-r flex flex-align-center">
          <input
            class="p-10"
            type="radio"
            name="empleoactual"
            value="3"
            hidden
          />
          <span class="radio-circle pos-r z-index-3"></span>
          <span class="pos-a width-15 height-p-100 top-0 left-0 right-0 m-auto bg-white-bg z-index-2"></span>
        </div>
        <div
          class="
            flex flex-align-center flex-justify-left
            m-v-20
            p-v-10 p-h-10
            border-radius-5 border-style-solid border-1 border-gray-3
            width-p-100 
            m-h-10
          "
        >
          <h2 class="font-18 font-w-700 font-roboto color-gray-1 m-r-5">
            {{ date }}
          </h2>
          <h2 class="font-18 font-w-400 font-roboto color-gray-1 m-r-5">
            {{ dateNumber }}
          </h2>
          <h2 class="font-18 font-w-700 font-roboto color-gray-1 m-r-5">
            {{ status }}
          </h2>
          <h2 class="font-18 font-w-400 font-roboto color-gray-1 m-r-5">
            {{ text }}
          </h2>
        </div>
      </label>
      <label class="flex flex-nowrap width-p-100">
        <div class="p-h-20 pos-r flex flex-align-center">
          <input
            class="p-10"
            type="radio"
            name="empleoactual"
            value="4"
            hidden
          />
          <span class="radio-circle pos-r z-index-3"></span>
          <span class="pos-a width-15 height-p-100 top-0 left-0 right-0 m-auto bg-white-bg z-index-2"></span>
        </div>
        <div
          class="
            flex flex-align-center flex-justify-left
            m-v-20
            p-v-10 p-h-10
            border-radius-5 border-style-solid border-1 border-gray-3
            width-p-100 
            m-h-10
          "
        >
          <h2 class="font-18 font-w-700 font-roboto color-gray-1 m-r-5">
            {{ date }}
          </h2>
          <h2 class="font-18 font-w-400 font-roboto color-gray-1 m-r-5">
            {{ dateNumber }}
          </h2>
          <h2 class="font-18 font-w-700 font-roboto color-gray-1 m-r-5">
            {{ status }}
          </h2>
          <h2 class="font-18 font-w-400 font-roboto color-gray-1 m-r-5">
            {{ text }}
          </h2>
        </div>
      </label>
      <label class="flex flex-nowrap width-p-100">
        <div class="p-h-20 pos-r flex flex-align-center">
          <input
            class="p-10"
            type="radio"
            name="empleoactual"
            value="5"
            hidden
          />
          <span class="radio-circle pos-r z-index-3"></span>
          <span class="pos-a width-15 height-p-100 top-0 left-0 right-0 m-auto bg-white-bg z-index-2"></span>
        </div>
        <div
          class="
            flex flex-align-center flex-justify-left
            m-v-20
            p-v-10 p-h-10
            border-radius-5 border-style-solid border-1 border-gray-3
            width-p-100 
            m-h-10
          "
        >
          <h2 class="font-18 font-w-700 font-roboto color-gray-1 m-r-5">
            {{ date }}
          </h2>
          <h2 class="font-18 font-w-400 font-roboto color-gray-1 m-r-5">
            {{ dateNumber }}
          </h2>
          <h2 class="font-18 font-w-700 font-roboto color-gray-1 m-r-5">
            {{ status }}
          </h2>
          <h2 class="font-18 font-w-400 font-roboto color-gray-1 m-r-5">
            {{ text }}
          </h2>
        </div>
      </label>
       <label class="flex flex-nowrap width-p-100">
        <div class="p-h-20 pos-r flex flex-align-center">
          <input
            class="p-10"
            type="radio"
            name="empleoactual"
            value="6"
            hidden
          />
          <span class="radio-circle pos-r z-index-3"></span>
          <span class="pos-a width-15 height-p-100 top-0 left-0 right-0 m-auto bg-white-bg z-index-2"></span>
        </div>
        <div
          class="
            flex flex-align-center flex-justify-left
            m-v-20
            p-v-10 p-h-10
            border-radius-5 border-style-solid border-1 border-gray-3
            width-p-100 
            m-h-10
          "
        >
          <h2 class="font-18 font-w-700 font-roboto color-gray-1 m-r-5">
            {{ date }}
          </h2>
          <h2 class="font-18 font-w-400 font-roboto color-gray-1 m-r-5">
            {{ dateNumber }}
          </h2>
          <h2 class="font-18 font-w-700 font-roboto color-gray-1 m-r-5">
            {{ status }}
          </h2>
          <h2 class="font-18 font-w-400 font-roboto color-gray-1 m-r-5">
            {{ text }}
          </h2>
        </div>
      </label>
      
    </div>
  </div>
</template>
<style>
.radio-circle {
  display: block;
  width: 20px;
  height: 20px;
  background: #e2e2e2;
  border-radius: 100%;
}
input:checked + .radio-circle {
  background: #8a8a8a;
}
</style>
<script>
import { compile } from "vue";

export default {
  name: "ListaHistorial",
  props: {
    date: String,
    dateNumber: String,
    status: String,
    text: String,
  },
  data() {
    return {
      active: 0,
      content: 1,
      compile,
    };
  },
  mounted() {
    this.active = this.defaultActive;
  },
  methods: {
    clickItem: function (index) {
      this.active = index;
    },
  },
};
</script>


