<template>
  <div class="m-t-40 container">
    <table class="border-white-3 width-p-100" style="min-width: 1000px">
      <thead
        :id="`headerTable-${id}`"
        :class="`width-p-100 border-0 headerTable ${showBody ? `active` : ``}`"
      >
        <tr class="">
          <th colspan="3">
            <div
              class="
                flex-align-center flex flex-justify-start
                height-65
                p-h-10 p-v-10
                border-gray-3
                border-style-solid
                border-0
                border-l-1
                border-t-1
                border-t-l-radius-15
                font-roboto font-w-700 font-18
                color-gray-1
              "
            >
              {{ title }}
            </div>
          </th>
          <th>
            <div
              class="
                flex flex-justify-right flex-align-center
                height-65
                p-h-10 p-v-10
                border-style-solid
                border-0
                border-gray-3
                border-r-1
                border-t-1
                border-t-r-radius-15
              "
            >
              <button
                class="bg-transparent border-0"
                v-on:click.stop.prevent="toggleBodyHeader()"
              >
                <img class="" :src="img" alt="" />
              </button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody
        :id="`bodyTable-${id}`"
        :class="`border-0 bodyTable ${showBody ? `active` : ``}`"
      >
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-center flex-align-center
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-0
              "
            >
              <div class="">
                <h2 class="font-roboto font-w-700 font-14 color-gray-1">
                  
                </h2>
              </div>
            </div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-left flex-align-start
              "
            >
              <div class="flex flex-align-center">
                <h3 class="font-14 font-w-700 font-roboto color-gray-1"></h3>
              </div>
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-around
              "
            >
              <div class="">
                <h2 class="font-roboto font-w-700 font-16 color-gray-1">
                  {{title2}}
                </h2>
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-center flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-0
              "
            >
              <div class="">
                <h2 class="font-roboto font-w-700 font-14 color-gray-1">
                  {{title1}}
                </h2>
              </div>
            </div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-left flex-align-start
              "
            >
              <div class="flex flex-align-center">
                <h3 class="font-14 font-w-700 font-roboto color-gray-1"></h3>
              </div>
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-around
              "
            >
              <div class="flex width-p-100 border-gray-3 flex-justify-around border-style-solid border-0 border-t-1 border-b-1">
                <div class="m-v-10">
                  <h2 class="font-16 font-w-700 font-roboto color-gray-1">
                   {{text1}} 
                  </h2>
                </div>
                <div class="m-v-10">
                  <h2 class="font-16 font-w-700 font-roboto color-gray-1">
                   {{text2}} 
                  </h2>
                </div>
                <div class="m-v-10">
                  <h2 class="font-16 font-w-700 font-roboto color-gray-1">
                   {{text3}} 
                  </h2>
                </div>
                <div class="m-v-10">
                  <h2 class="font-16 font-w-700 font-roboto color-gray-1">
                    {{text4}} 
                  </h2>
                </div>
                <div class="m-v-10">
                  <h2 class="font-16 font-w-700 font-roboto color-gray-1">
                    {{text5}} 
                  </h2>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-start flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-0
              "
            >
              <div class="m-b-16">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >Número de envíos mínimos</label
                >
                <select
                  class="
                    width-448
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option
                    class="font-roboto font-14 font-w-400 color-gray-3"
                    value="none"
                    selected
                    disabled
                    hidden
                  ></option>
                  <option class="color-gray-3" value="free">Free</option>
                  <option class="color-gray-3" value="starter">Starter</option>
                  <option class="color-gray-3" value="professional">
                    Professional
                  </option>
                </select>
              </div>
            </div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-left flex-align-start
              "
            >
              <div class="flex flex-align-center">
                <img class="m-r-10" :src="img1" alt="" />
                <h3 class="font-14 font-w-700 font-roboto color-gray-1">{{imgtext1}}</h3>
              </div>
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-around
              "
            >
              <div class="m-b-10">
                <input
                  class="
                    width-132
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  type="text"
                  placeholder="% dto"
                />
              </div>
              <div class="m-b-10">
                <input
                  class="
                    width-132
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  type="text"
                  placeholder="% dto"
                />
              </div>
              <div class="m-b-10">
                <input
                  class="
                    width-132
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  type="text"
                  placeholder="% dto"
                />
              </div>
              <div class="m-b-10">
                <input
                  class="
                    width-132
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  type="text"
                  placeholder="% dto"
                />
              </div>
              <div class="m-b-10">
                <input
                  class="
                    width-132
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  type="text"
                  placeholder="% dto"
                />
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-start flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-0
              "
            >
              <div class="m-b-16">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >Tarifa asignada</label
                >
                <select
                  class="
                    width-448
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option
                    class="font-roboto font-14 font-w-400 color-gray-3"
                    value="none"
                    selected
                    disabled
                    hidden
                  ></option>
                  <option class="color-gray-3" value="free">Free</option>
                  <option class="color-gray-3" value="starter">Starter</option>
                  <option class="color-gray-3" value="professional">
                    Professional
                  </option>
                </select>
              </div>
            </div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-left flex-align-start
              "
            >
              <div class="flex flex-align-center">
                <img class="m-r-10" :src="img2" alt="" />
                <h3 class="font-14 font-w-700 font-roboto color-gray-1">
                  {{imgtext2}}
                </h3>
              </div>
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-around
              "
            >
              <div class="m-b-10">
                <input
                  class="
                    width-132
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  type="text"
                  placeholder="% dto"
                />
              </div>
              <div class="m-b-10">
                <input
                  class="
                    width-132
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  type="text"
                  placeholder="% dto"
                />
              </div>
              <div class="m-b-10">
                <input
                  class="
                    width-132
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  type="text"
                  placeholder="% dto"
                />
              </div>
              <div class="m-b-10">
                <input
                  class="
                    width-132
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  type="text"
                  placeholder="% dto"
                />
              </div>
              <div class="m-b-10">
                <input
                  class="
                    width-132
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  type="text"
                  placeholder="% dto"
                />
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-start flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-0
              "
            >
              <div class="m-b-16">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >Número de días de tarifa</label
                >
                <select
                  class="
                    width-448
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option
                    class="font-roboto font-14 font-w-400 color-gray-3"
                    value="none"
                    selected
                    disabled
                    hidden
                  ></option>
                  <option class="color-gray-3" value="free">Free</option>
                  <option class="color-gray-3" value="starter">Starter</option>
                  <option class="color-gray-3" value="professional">
                    Professional
                  </option>
                </select>
              </div>
            </div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-left flex-align-start
              "
            >
              <div class="flex flex-align-center">
                <img class="m-r-10" :src="img3" alt="" />
                <h3 class="font-14 font-w-700 font-roboto color-gray-1">
                  {{imgtext3}}
                </h3>
              </div>
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-around
              "
            >
              <div class="m-b-10">
                <input
                  class="
                    width-132
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  type="text"
                  placeholder="% dto"
                />
              </div>
              <div class="m-b-10">
                <input
                  class="
                    width-132
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  type="text"
                  placeholder="% dto"
                />
              </div>
              <div class="m-b-10">
                <input
                  class="
                    width-132
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  type="text"
                  placeholder="% dto"
                />
              </div>
              <div class="m-b-10">
                <input
                  class="
                    width-132
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  type="text"
                  placeholder="% dto"
                />
              </div>
              <div class="m-b-10">
                <input
                  class="
                    width-132
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  type="text"
                  placeholder="% dto"
                />
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-start flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-0
              "
            >
              <div class="m-b-16">
                <label
                  class="
                    m-b-8
                    text-left
                    font-14 font-roboto font-w-400
                    color-gray-1
                    m-r-8
                    d-block
                  "
                  >Motivo</label
                >
                <select
                  class="
                    width-448
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  name="cars"
                  id="cars"
                >
                  <option
                    class="font-roboto font-14 font-w-400 color-gray-3"
                    value="none"
                    selected
                    disabled
                    hidden
                  ></option>
                  <option class="color-gray-3" value="free">Free</option>
                  <option class="color-gray-3" value="starter">Starter</option>
                  <option class="color-gray-3" value="professional">
                    Professional
                  </option>
                </select>
              </div>
            </div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-left flex-align-start
              "
            >
              <div class="flex flex-align-center">
                <img class="m-r-10" :src="img4" alt="" />
                <h3 class="font-14 font-w-700 font-roboto color-gray-1">
                  {{imgtext4}}
                </h3>
              </div>
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-around
              "
            >
              <div class="m-b-10">
                <input
                  class="
                    width-132
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  type="text"
                  placeholder="% dto"
                />
              </div>
              <div class="m-b-10">
                <input
                  class="
                    width-132
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  type="text"
                  placeholder="% dto"
                />
              </div>
              <div class="m-b-10">
                <input
                  class="
                    width-132
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  type="text"
                  placeholder="% dto"
                />
              </div>
              <div class="m-b-10">
                <input
                  class="
                    width-132
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  type="text"
                  placeholder="% dto"
                />
              </div>
              <div class="m-b-10">
                <input
                  class="
                    width-132
                    height-40
                    p-h-5 p-v-5
                    outline-none
                    border-radius-10 border-gray-3 border-1 border-style-solid
                    color-gray-1
                    bg-transparent
                  "
                  type="text"
                  placeholder="% dto"
                />
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-center flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-1
                border-b-l-radius-15
              "
            ></div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-align-center
                border-0 border-b-1 border-style-solid border-gray-3
              "
            ></div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-1
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
                border-b-r-radius-15
              "
            ></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { v4 as uuidv4 } from "uuid";

export default {
  name: "NegociacionAveonline",
  props: {
    title: String,
    img:String,
    img1: String,
    img2: String,
    img3: String,
    img4: String,
    title1: String,
    title2: String,
    money: String,
    text: String,
    text1: String,
    text2: String,
    text3: String,
    text4: String,
    text5: String,
    imgtext1:String,
    imgtext2:String,
    imgtext3:String,
    imgtext4:String,
  },
  data() {
    return {
      id: null,
      showBody: false,
    };
  },
  mounted() {
    this.id = uuidv4();
  },

  methods: {
    toggleBodyHeader: function () {
      this.showBody = !this.showBody;
    },
  },
};
</script>

 <style>
.headerTable:not(.active) th > div {
  border-bottom-width: 1px;
}

.headerTable:not(.active) th:first-child > div {
  border-bottom-left-radius: 0.9375rem;
}

.headerTable:not(.active) th:last-child > div {
  border-bottom-right-radius: 0.9375rem;
}

.bodyTable:not(.active) {
  display: none;
}
</style>










