<template>
  <div class="m-t-40 container">
    <table class="border-white-3 width-p-100" style="min-width: 1000px">
      <thead
        :id="`headerTable-${id}`"
        :class="`width-p-100 border-0 headerTable ${showBody ? `active` : ``}`"
      >
        <tr class="">
          <th colspan="3">
            <div
              class="
                flex-align-center flex flex-justify-start
                height-65
                p-h-10 p-v-10
                border-gray-3
                border-style-solid
                border-0
                border-l-1
                border-t-1
                border-t-l-radius-15
                font-roboto font-w-700 font-18
                color-gray-1
              "
            >
              Planes y servicios
            </div>
          </th>
          <th>
            <div
              class="
                flex flex-justify-right flex-align-center
                height-65
                p-h-10 p-v-10
                border-style-solid
                border-0
                border-gray-3
                border-r-1
                border-t-1
                border-t-r-radius-15
              "
            >
              <button
                class="bg-transparent border-0"
                v-on:click.stop.prevent="toggleBodyHeader()"
              >
                <img class="" src="/img/sort-down.svg" alt="" />
              </button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody
        :id="`bodyTable-${id}`"
        :class="`border-0 bodyTable ${showBody ? `active` : ``}`"
      >
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-center flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-0
              "
            >
              <div class="">
                <h2 class="font-18 font-w-400 font-roboto color-gray-1">
                  {{title1}}
                </h2>
                <h2 class="font-24 font-poppins font-w-700">{{money}}</h2>
                <h2 class="font-roboto font-w-400 font-16 color-gray-4">
                 {{text}}
                </h2>
              </div>
              <div class="p-h-20">
                <h2 class="font-16 font-w-700 font-roboto color-gray-1">
                  {{text1}}
                </h2>
                <h2 class="font-w-400 font-14 font-roboto color-gray-1">
                  {{date}}
                </h2>
              </div>
              <div class="p-h-20">
                <input
                  class="
                    font-16 font-w-700 font-roboto
                    color-white
                    bg-red-1
                    bg-gray-1-hover
                    border-radius-10
                    p-v-10
                    width-170
                    border-0
                  "
                  value="Cambiar plan"
                  type="submit"
                />
              </div>
            </div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-justify-center flex-align-start
              "
            >
              <div class="text-center m-r-17">
                <h2 class="font-16 font-w-700 font-roboto color-gray-1">
                  {{title2}}
                </h2>
                <img src="/img/ll.svg" alt="" />
              </div>
              <div>
                <h2 class="font-16 font-w-700 font-roboto color-gray-1">
                 {{title3}}
                </h2>
                <h2 class="font-14 font-w-400 font-roboto color-gray-1">
                  {{date1}}
                </h2>
              </div>
            </div>
          </td>
          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-0
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
              "
            >
              <div class="m-r-10">
                <input 
                value="Cotizar envío"
                type="submit" 
                class="
                width-170
                p-v-11
                font-16 font-w-700 font-roboto
                bg-gray-4
                bg-gray-1-hover
                color-white
                border-radius-10
                border-0
                ">
              </div>
              <div class="">
                <input 
                value="Enviar negociación"
                type="submit" 
                class="
                width-170
                p-v-11
                font-16 font-w-700 font-roboto
                bg-gray-4
                bg-gray-1-hover
                color-white
                border-radius-10
                border-0
                ">
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-center flex-align-center
                p-h-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-1
                border-b-l-radius-15
              "
            ></div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 p-h-10
                height-65
                flex flex-align-center
                border-0 border-b-1 border-style-solid border-gray-3
              "
            ></div>
          </td>

          <td class="" colspan="2">
            <div
              class="
                p-v-10 p-h-10
                height-65
                border-style-solid
                border-b-1
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
                border-b-r-radius-15
              "
            ></div>
          </td>
        </tr>
      </tbody>
      
    </table>
  </div>
</template>

<script>
import { v4 as uuidv4 } from "uuid";

export default {
  name: "PlanesDeServicios",
  props: {
    title1: String,
    money:String,
    text:String,
    text1:String,
    date:String,
    title2:String,
    title3:String,
    date1:String
  },
  data() {
    return {
      id: null,
      showBody: false,
    };
  },
  mounted() {
    this.id = uuidv4();
  },

  methods: {
    toggleBodyHeader: function () {
      this.showBody = !this.showBody;
    },
  },
};
</script>

 <style>
.headerTable:not(.active) th > div {
  border-bottom-width: 1px;
}

.headerTable:not(.active) th:first-child > div {
  border-bottom-left-radius: 0.9375rem;
}

.headerTable:not(.active) th:last-child > div {
  border-bottom-right-radius: 0.9375rem;
}

.bodyTable:not(.active) {
  display: none;
}
</style>










